legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

.output {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}

fieldset .label-response {
	border: .2rem solid black;
	padding: .4rem;
	float: right;
	margin-top: -8% !important;
	position: relative;
}
.hidden {
	display: none !important;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 102%;
   background-color: black;
   color: white;
   text-align: center;
}
.social_icon li{
    list-style-type: none;
    float: left;
    margin: 10px;
    font-size: 20px;
    padding: 15px;
}
.social_icon li a i{
  color:white;
}
#clan-logo {
  width: 80px;
  height: 80px;
  filter: invert(100%);
}